<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Del Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
</head>

<body>
<div class="container">
    <h1>Del Task:</h1>
    <h2>
        <a th:href="@{/gettasks}">Get task list</a>
        <a th:href="@{/add}">Add task list</a>
    </h2>
    <form th:action="@{/del}"
          th:object="${TaskForm}" method="GET">
        <p>ID:
            <input type="number" th:field="*{id}" th:default=0 />
        </p>

        <input class ="button-main-page" type="submit" value="Del" />
    </form>
</div>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red; font-style:italic;" >
</div>

</body>