@font-face {
    font-family: Crizen;
    src: url(../fonts/Crizen.otf);
}
@font-face {
    font-family: BomberEscortOutline;
    src: url(../fonts/BomberEscortOutline.otf);
}
@font-face {
    font-family: BomberEscort;
    src: url(../fonts/BomberEscort.otf);
}

/**** RESET STYLES ****/

button{
    border: 0;
    font-size: large;
    background-color: white;
    cursor: pointer;
    font-family: BomberEscort, sans-serif;
}

/**** HEADER ****/

header{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 2fr 1fr 0.5fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
}

.header_logo_text{
    font-size: 30px;
    color: #003f8a;
    font-family: BomberEscortOutline, sans-serif;
    left: 0;
    right: 0;
}

.header__logo{
    display: grid;
}

/**** NAVIGATION ****/

.header__nav{
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.nav__button:hover{
    color: purple;
}

/**** SEARCH ****/

.header__search{
    display: grid;
    align-items: center;
    grid-template-rows: 50px;
    grid-template-areas: 'fieldSearch buttonSearch';
}

.header__field__search{
    grid-area: fieldSearch;
    width: 3fr;
}
.header__button__search{
    grid-area: buttonSearch;
    width: 1fr;
}


/**** USER MENU ****/

.header__user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 50px;
}

#header__login__button:hover{
    color: red;
}

.header__icon__user{
    width: 30px;
}

