body, button, span, div{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Crizen;
    src: url(../fonts/Crizen.otf);
}

@font-face {
    font-family: BomberEscortOutline;
    src: url(../fonts/BomberEscortOutline.otf);
}

@font-face {
    font-family: BomberEscort;
    src: url(../fonts/BomberEscort.otf);
}

/**** RESET STYLES ****/

button{
    border: 0;
    font-size: large;
    background-color: white;
    cursor: pointer;
    font-family: BomberEscort, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.body__container{
    display: grid;
    grid-template-rows: 50px auto 20px;
    grid-template-areas:    'header'
                            'container'
                            'navigation';
    grid-gap: 30px;
}

header{
    grid-area: header;
}

.container{
    grid-area: container;
}

.nav__page{
    grid-area: navigation;
}
