<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Protected courses</title>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/main.css" th:href="@{/css/admin/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/header.css" th:href="@{/css/admin/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/login.css" th:href="@{/css/admin/login.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/items.css" th:href="@{/css/admin/items.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/category.css" th:href="@{/css/admin/category.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/iterator.css" th:href="@{/css/admin/iterator.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin/editor.css" th:href="@{/css/admin/editor.css}"/>
    <script type="text/javascript" src="../static/js/admin/validate.js" th:src="@{/js/admin/validate.js}"></script>
    <script type="text/javascript" src="../static/js/admin/categories.js" th:src="@{/js/admin/categories.js}"></script>
    <script type="text/javascript" src="../static/js/admin/services.js" th:src="@{/js/admin/services.js}"></script>
    <script type="text/javascript" src="../static/js/admin/content.js" th:src="@{/js/admin/content.js}"></script>
</head>
<body>
<div class="body__container">

    <header>
        <div class="header__category">
            <label> CATEGORY
                <input type="hidden" id="header__category__id">
                <input type="text" id="header__category__input">
            </label>

            <button onclick="PostCategory()">✓</button>
            <button onclick="PutCategory()">↺</button>
            <button onclick="DeleteCategory()">☠</button>
        </div>

        <div class="header__logo">ADMIN PANEL</div>
        <button id="load__page" class="nav__button" onclick="Load()">Load</button>
        <button id="header__login__button" onclick="ManagerFormLogin()">Log In</button>

    </header>

    <div class="container">
        <div class="editor" id="editor">
            <label><input type="hidden" id="id"></label>

            <label for="name">Name
                <input type="text" id="name">
            </label>

            <label>Select
                <select id="editor__select__category">

                </select>
            </label>


            <div class="editor__image">
                <img id="image" src="../static/svg/image-add.svg" th:src="@{/svg/image-add.svg}" alt="">
                <input type="file" accept="image/png" id="file">
            </div>

            <label class="editor__complexity">
                <div>Complexity</div>
                <div id="editor__complexity__view">
                    ★
                    <!-- ★★★★★★★★★★★ -->
                </div>
                <input type="range" value="1" min="1" max="10" id="editor__complexity__value">
            </label>

            <label for="name">Price
                <input type="number" id="price" value="0" min="0">
            </label>

            <div class="editor__button__crud">
                <button onclick="PostCourse()">✓</button>
                <button onclick="PutCourse()">↺</button>
                <button onclick="DeleteCourse()">☠</button>
            </div>
        </div>
        <div class="category" id="categories">
            <!-- Here will be category -->
        </div>

        <div class="wrapper" id="wrapper">

        </div>
    </div>

    <div class="login" id="login">

    </div>

    <a href="/">GO TO HOME</a>
</div>

</body>
</html>

