<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

    <div><label> User NAME : <input type="email" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <button  onclick="responseGet()">Press please</button>
    <button  onclick="getCourses()">GetCourses</button>
    <button  onclick="getLogout()">Logout</button>
    <div id="error"></div>

</body>
</html>

<script>
    async function responseGet() {
        fetch("http://localhost:8080/api/auth/login", {
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(
                {
                    email: document.getElementsByName("email")[0].value,
                    password: document.getElementsByName("password")[0].value
                }
            )
        })
            .then(data => data.json())
            .then(result => {
                console.log(result.email, result.token, result.error);
                localStorage.setItem("token", result.token);
            });
        document.getElementById("error").innerText = "OK";
    }
    async function getCourses(){
        fetch("http://localhost:8080/api/courses/get/page/0", {
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem("token")
            },
            method: "GET"
        })
            .then(data => data.json())
            .then(result => {
                console.log(JSON.stringify(result));
            });
    }
    async function getLogout(){
        await fetch("http://localhost:8080/api/auth/logout", {
            headers: {
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem("token")
            },
            method: "POST"
        });
        localStorage.clear();
        document.getElementById("error").innerText = "Out successfully";
    }

</script>
