/**** HEADER ****/
header{
    margin-top: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 150px 1fr 1fr;
    grid-template-areas: 'category logo home login ';
    grid-gap: 5px;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

/**** NAVIGATION ****/
.header__category{
    grid-area: category;
    font-family: BomberEscort, sans-serif;
}

.header__category >label {
    font-size: large;
}

.header__category >label > input{
    font-size: large;
}

.header__category > button{
    border: 1px black solid;
    width: 30px;
    height: 30px;
}

.header__logo{
    grid-area: logo;
    font-family: BomberEscort, sans-serif;
    text-align: center;
}


.header__nav{
    grid-area: home;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.nav__button:hover{
    color: purple;
}

#header__login__button{
    grid-area: login;
}
#header__login__button:hover{
    color: red;
}
